
#
# GAP_SDK
#

#
# Board
#
# CONFIG_BOARD_GAP9_V2_VIRTUAL is not set
CONFIG_BOARD_GAP9MOD_V1_0_B=y
# CONFIG_BOARD_GAP9EVK_NONE is not set
# CONFIG_BOARD_GAP9EVK_V1_3 is not set
CONFIG_BOARD_GAP9EVK_V2_0=y

#
# Additionnal Boards
#
# end of Board

CONFIG_CHIP_GAP9_V2_WLCSP=y
CONFIG_CHIP_FAMILY_9=y
CONFIG_CHIP_VERSION_2=y
CONFIG_CHIP_FAMILY=9
CONFIG_CHIP_VERSION=2
# CONFIG_PLATFORM_GVSOC is not set
CONFIG_PLATFORM_BOARD=y
# CONFIG_PLATFORM_RTL is not set
# CONFIG_PLATFORM_FPGA is not set

#
# Drivers
#

#
# GAP9 v2
#

#
# UDMA
#
CONFIG_DRIVER_UDMAOCTOSPI=y
# CONFIG_DRIVER_UDMAHYPERBUS is not set
CONFIG_DRIVER_UDMAAES=y
# CONFIG_DRIVER_UDMAUART is not set
# CONFIG_DRIVER_UDMACPI is not set
# CONFIG_DRIVER_UDMACSI2 is not set
# CONFIG_DRIVER_UDMAFIFO is not set
# CONFIG_DRIVER_UDMATIMEOUT is not set
# CONFIG_DRIVER_UDMADATAMOVE is not set
# CONFIG_DRIVER_UDMATIMESTAMP is not set
# end of UDMA

#
# Cluster
#
# CONFIG_DRIVER_CLUSTERDECOMPRESSOR is not set
# CONFIG_DRIVER_CLUSTERTEAM is not set
# CONFIG_DRIVER_CLUSTERUART is not set
# CONFIG_DRIVER_CLUSTER_L1MALLOC is not set
# end of Cluster

# CONFIG_DRIVER_SPIM is not set
# CONFIG_DRIVER_I2C is not set
# CONFIG_DRIVER_I3C is not set
# CONFIG_DRIVER_I2S is not set
# CONFIG_DRIVER_L2MALLOC is not set
# CONFIG_DRIVER_MEMSLAB is not set
# CONFIG_DRIVER_FFC is not set
# CONFIG_DRIVER_RTC is not set
# CONFIG_DRIVER_DMACPY is not set
CONFIG_DRIVER_QUIDDIKEY=y
# CONFIG_DRIVER_PWM is not set
# CONFIG_DRIVER_XIP is not set
# end of GAP9 v2

CONFIG_HAS_BLE_HARDWARE=y
CONFIG_HAS_NINAB312_HARDWARE=y
# CONFIG_DRIVER_TYPE_BLE is not set
# CONFIG_DRIVER_BOOTLOADER is not set
CONFIG_HAS_CAMERA_HARDWARE=y
CONFIG_HAS_OV5647_HARDWARE=y
CONFIG_HAS_OV9281_HARDWARE=y
CONFIG_HAS_OV9750_HARDWARE=y
# CONFIG_DRIVER_TYPE_CAMERA is not set

#
# CRC
#
# CONFIG_DRIVER_CRCMD5 is not set
# CONFIG_DRIVER_CRC32 is not set
# end of CRC

CONFIG_HAS_DISPLAY_HARDWARE=y
CONFIG_HAS_ILI9341_HARDWARE=y
# CONFIG_DRIVER_TYPE_DISPLAY is not set
CONFIG_HAS_FLASH_HARDWARE=y
CONFIG_HAS_MX25U51245G_HARDWARE=y
CONFIG_DRIVER_MX25U51245G_AS_DEFAULT=y
CONFIG_HAS_MRAM_HARDWARE=y
CONFIG_DRIVER_TYPE_FLASH=y

#
# Flash drivers
#
CONFIG_DRIVER_MX25U51245G=y
CONFIG_DRIVER_MX25U51245G_BAUDRATE_DEFAULT=y
# CONFIG_DRIVER_MX25U51245G_BAUDRATE_USER is not set
CONFIG_DRIVER_MRAM=y
# end of Flash drivers

#
# FS
#
# CONFIG_DRIVER_HOSTFS is not set
# CONFIG_DRIVER_READFS is not set
# CONFIG_DRIVER_LITTLEFS is not set
# end of FS

CONFIG_HAS_GPIO_HARDWARE=y
CONFIG_HAS_FXL6408_HARDWARE=y
# CONFIG_DRIVER_TYPE_GPIO is not set
# CONFIG_DRIVER_OTA is not set

#
# Partitions
#
# CONFIG_DRIVER_PARTITION is not set
# CONFIG_DRIVER_PARTITION_APP_ELF is not set
# CONFIG_DRIVER_FLASH_PARTITION is not set
# end of Partitions

CONFIG_HAS_RAM_HARDWARE=y
CONFIG_HAS_APS256XXN_HARDWARE=y
CONFIG_DRIVER_APS256XXN_AS_DEFAULT=y
# CONFIG_DRIVER_TYPE_RAM is not set
CONFIG_HAS_TRANSPORT_HARDWARE=y
CONFIG_HAS_DA16200_HARDWARE=y
# CONFIG_DRIVER_TYPE_TRANSPORT is not set
# end of Drivers

#
# Core
#

#
# Clocks
#
CONFIG_FAST_OSC_FREQUENCY=24576063
CONFIG_FLL_MAXDCO_FREQ=900000000
CONFIG_FREQUENCY_PERIPH=160000000
CONFIG_FREQUENCY_FC=50000000
CONFIG_FREQUENCY_CLUSTER=50000000
CONFIG_FREQUENCY_SFU=50000000
CONFIG_FREQUENCY_FPGA=50000000
# end of Clocks

#
# Stacks
#
CONFIG_FC_APP_MAIN_STACK_SIZE=2048
CONFIG_CL_MASTER_CORE_STACK_SIZE=2048
CONFIG_CL_SLAVE_CORE_STACK_SIZE=1024
# end of Stacks

#
# Memory allocator
#
# CONFIG_MALLOC_NO_FC_L1 is not set
# end of Memory allocator

CONFIG_LINKER_SCRIPT_DEFAULT=y
# CONFIG_LINKER_SCRIPT_XIP is not set
# CONFIG_LINKER_SCRIPT_UPPER_MEMORY is not set
CONFIG_FLASH_LAYOUT_DEFAULT=y
# CONFIG_FLASH_LAYOUT_CUSTOM is not set
CONFIG_BOOT_DEVICE_JTAG=y
# CONFIG_BOOT_DEVICE_MRAM is not set
# CONFIG_BOOT_DEVICE_HYPERFLASH is not set
# CONFIG_BOOT_DEVICE_OSPIFLASH is not set
# end of Core

#
# OS
#
CONFIG_FREERTOS_TICK_RATE_HZ=100
# end of OS

#
# Libs
#
# CONFIG_LIB_FRAME_STREAMER is not set
# CONFIG_LIB_OPENMP is not set
# CONFIG_LIB_GAP_LIB is not set
# CONFIG_LIB_SFU is not set
# CONFIG_LIB_SFU_LEGACY is not set
# end of Libs

#
# Tools
#

#
# Autotiler
#
# CONFIG_ENABLE_AUTOTILER is not set
# end of Autotiler

#
# NNTool
#
# CONFIG_ENABLE_NNTOOL is not set
# end of NNTool
# end of Tools

#
# Utils
#

#
# IO
#
CONFIG_IO_TYPE_SEMIHOSTING=y
# CONFIG_IO_TYPE_UART is not set
# CONFIG_IO_TYPE_DISABLED is not set
# CONFIG_IO_PRINTF_FLOAT_ENABLE is not set
# end of IO

#
# Debug
#
# CONFIG_DEBUG_ASSERT is not set
CONFIG_PI_LOG_LEVEL_NONE=y
# CONFIG_PI_LOG_LEVEL_ERROR is not set
# CONFIG_PI_LOG_LEVEL_WARNING is not set
# CONFIG_PI_LOG_LEVEL_INFO is not set
# CONFIG_PI_LOG_LEVEL_DEBUG is not set
# CONFIG_PI_LOG_LEVEL_TRACE is not set
CONFIG_PI_LOG_LEVEL="PI_LOG_NONE"
# CONFIG_GDB_SERVER is not set
# end of Debug
# end of Utils
# end of GAP_SDK
